.message {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: var(--color-secondary);
  color: var(--color-text);

  &--success {
    background-color: var(--color-success);
    color: var(--color-background);
  }

  &--error {
    background-color: var(--color-error);
    color: var(--color-background);
  }
}
