.form-control {
  border: 1px solid white;
  padding: 1rem;

  & > * {
    margin-bottom: 0.5rem;
  }
  label {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  input {
    margin-left: 0.5rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  button {
    width: 100%;
  }
}
