@use "../../styles/mixin";
@use "../../styles/variable";

.project {
  &__inner {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__link {
    display: block;
    color: variable.$font-color;
    text-decoration: none;
    width: 49%;
  }
  &__box {
    padding: 0.5rem;
  }
  &__name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }
  &__img {
    transition: filter 0.6s ease-in-out;
    filter: grayscale(1);
  }
  &__link:hover &__img {
    filter: grayscale(0);
  }

  @include mixin.mq(variable.$screen-sm) {
    &__link {
      width: 100%;
    }
    &__title {
      height: 50px;
    }
    &__inner {
      height: 100vh;
      overflow: auto;
    }
  }
}
