@use './variable';

@mixin hamburger-line {
   width: 100%;
   height: 3px;
   background-color: variable.$font-color;
   position: absolute;
}

@mixin hover-animation {
   transition: color .5s ease-in;
   color: variable.$font-color;
   &:hover {
       color: variable.$font-alter;
       transition: color .5s ease-in;
   }   
}

@mixin mq($size) {
	@media (max-width: #{$size}) {
		@content;
	}	
}