:root {
  --color-background: #222831;
  --color-text: #eeeeee;
  --color-primary: #7bc74d;
  --color-secondary: #393e46;
  --color-success: #00ff00;
  --color-error: #ff0000;
  --header-height: 100px;
}
