$color-background: #222831;
$color-text: #eeeeee;
$color-primary: #7bc74d;
$color-secondary: #393e46;

// Font variable
$font-family: "JetBrains Mono", monospace;

$main-border-space: 0.5rem;
$main-border-style: 1px solid $color-text;

$scroll-height: 600px;
$scroll-width: 350px;
$navigation-breakpoint: 850px;

// Screen variable
$screen-desktop: 1024px;
$screen-tablet: 768px;
$screen-mobile: 480px;
$screen-mobile-s: 320px;

body {
  --header-height: 100px;
}

@media screen and (max-height: 300px) {
  body {
    --header-height: 50px;
  }
}
