@import "./variable";
@import "./mixin";
@import "./font";

// Custom style
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-size: 16px;
}

body {
  color: $color-text;
  font-family: $font-family;
  background-color: $color-background;
}

img {
  max-width: 100%;
}

// Scrollbar
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $color-text;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: $color-background;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-text;
  border-radius: 10px;
  border: 3px solid $color-text;
}
