.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 4.25rem;

  & &__logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media screen and (max-width: 350px) {
    & &__button {
      display: none;
    }
  }
}
