@import "../../../styles/variables.scss";

.header {
  height: $header-height;
  width: 100%;
  & &__inner {
    position: fixed;
    width: 100%;
    height: $header-height;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: $color-background;
  }

  & &__logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media screen and (max-width: 350px) {
    & &__button {
      display: none;
    }
  }
}
