@use "../../styles/variable";

.textBox {
  border: 2px dotted variable.$font-color;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  line-height: 2rem;
  width: -webkit-fill-available;
}

.alter {
  color: variable.$font-alter;
  text-decoration: none;
}
