@use "../../../styles/variable";
@use "../../../styles/mixin";

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: variable.$background-color;

  @include mixin.mq(variable.$screen-lg) {
    max-width: 1200px;
  }
  @include mixin.mq(variable.$screen-md) {
    max-width: 90vw;
  }
}
