:root {
  --mainColor: #66cc33;
  --subColor: #339933;
  --textColor: #333333;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--textColor);
  font-size: 16px;
}
.page {
  width: 1150px;
  height: 1600px;
  margin: auto;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--textColor);
}

.container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .line {
  width: 75%;
  border-width: 0.2rem;
}

.header .title {
  font-size: 3rem;
  color: var(--mainColor);
  text-align: center;
  margin: 0.75rem;
}

.header .subtitle {
  font-size: 2.5rem;
  color: var(--subColor);
  text-align: center;
  margin: 0.75rem;
}

.info {
  width: 25%;
}

.main {
  width: 100%;
}

.subtitle {
  display: block;
  font-size: 2rem;
  color: var(--textColor);
  margin: 0.5rem 0;
  width: 100%;
}
.line {
  width: 100%;
  height: 0px;
  border-top: 0.25rem solid var(--textColor);
}

.line.small {
  border-top: 0.1rem solid var(--textColor);
}

section .title {
  margin: 1rem 1rem 0 1rem;
  font-size: 2.5rem;
  text-align: left;
}

.motivation {
  padding: 1rem;
}
.motivation .text {
  border: 0.25rem solid var(--subColor);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.75rem;
  font-style: italic;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-box {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  min-width: 100px;
  font-size: 1.5rem;
  text-align: center;
  border: 0.25rem solid var(--subColor);
  border-radius: 0.5rem;
}

.skills-box {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.skill-box.full {
  width: 100%;
}

.skill {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0.25rem solid var(--textColor);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.experience__box {
  margin: 0 1rem;
}

.experience__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.experience__info {
  font-size: 1.25rem;
  display: block;
  margin: 0;
}

.experience__list {
  padding: 0 0.5rem;
  margin: 0.5rem;
  list-style: none;
  font-size: 1.5rem;
}

.experience__item {
  margin-bottom: 0.5rem;
}

.experience__item span {
  font-size: 1.4rem;
  font-style: italic;
}

.experience__one {
  border: 0.1rem solid var(--textColor);
  padding: 0.1rem 0.25rem;
  margin-left: 0.25rem;
}

.experience__box a {
  color: var(--subColor);
  font-weight: bold;
}

.footer {
  text-align: justify;
}
