@use "../../../../styles/variable";
@use "../../../../styles/mixin";

.socials {
  display: flex;
  position: absolute;
  left: 100%;
  margin-right: 0.5rem;
  gap: 1rem;

  &__icon {
    font-size: 2rem;
    line-height: 1rem;

    &,
    &:visited {
      color: variable.$font-color;
      text-decoration: none;
    }

    &:hover {
      color: variable.$font-alter;
    }

    & {
      @include mixin.hover-animation;
    }
  }

  @include mixin.mq(variable.$screen-md) {
    position: relative;
    left: 0;
  }
}
