@import "../../../styles/variables.scss";

.scrollSection {
  overflow-y: scroll;
  height: calc(100vh - $header-height);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
