@import "../../../styles/variables";

$line-height: 20px;

.terminal {
  & &__header {
    height: 20px;
    background-color: $color-secondary;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  & &__title {
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
  }

  & &__body {
    background-color: black;
    min-height: 160px;
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  & &__text {
    color: $color-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: $line-height;
    min-height: $line-height;
  }
}
