@use '../../../styles/variable';
@use '../../../styles/mixin';


.hamburger {
   display: none;
   padding: 10px;
   cursor: pointer;
   background-color: transparent;
   border: 0;
   margin: 0;

   &__box {
       width: 35px;
       height: 24px;
       display: inline-block;
       position: relative;
   }

   &__inner {
       @include mixin.hamburger-line;
       
       left: 0;
       top: 50%;
       transform: translateY(-50%);
       transition: background-color .1s .2s ease-in-out;

       &:before, 
       &:after {
           @include mixin.hamburger-line;

           content: '';
           left: 0;
           transition: transform .2s .2s ease-in-out;
       }

       &:before {
           top: -10px;
       }
       &:after {
           top: 10px;
       }
   }

   &--active &__inner {
       background-color: transparent;
   }

   &--active &__inner:before {
       transform: translateY(10px) rotate(45deg);
   }

   &--active &__inner:after {
       transform: translateY(-10px) rotate(-45deg);
   }
}

.hamburger {
    transition: transform .3s .1s ease-in-out;
}

@include mixin.mq(variable.$screen-md) {
    .hamburger {
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 1000;
    }
}