@import "../../../styles/variable";

$header-height: 68px;
$menuAnimation: left 0.3s ease-in-out;

.navigation {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: $header-height;
  height: calc(100vh - $header-height);
  background-color: $color-background;
  left: 100%;
  transition: $menuAnimation;

  & &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    gap: 0.5rem;
  }

  & &__item {
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }

  &--active {
    left: 0;
    transition: $menuAnimation;
  }
}
